body {
  font-family: "Montserrat";
  box-sizing: border-box;
}
.products-section,
.splide {
  background-color: #fafafa;
  padding: 72px 23px;
}

.products-heading {
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.038rem;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.products-part-heading {
  color: orange;
}

.products-list,
.splide__list {
  list-style: none;
  margin: 0;
  gap: 18px;
}

.splide__slide {
  max-width: fit-content;
}

.splide__slide__container {
  padding: 32px 52px 32px 53px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.splide__slide__container img {
  margin-bottom: 8px;
}

.product-name {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.023rem;
  text-transform: uppercase;
  margin: 0;
}

.product-type {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.015rem;
  margin: 2px 0 18px 0;
}

.product-price {
  padding: 8px 20px;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background-color: #fafafa;
  color: #111;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.product-price p {
  margin: 0;
}

.splide__pagination {
  position: static;
  margin: 32px 0 100px 0;
}

.splide__pagination__page {
  width: 13px;
  height: 13px;
  background: rgba(17, 17, 17, 0.1);
  transition-property: background, width, border-radius;
}

.splide__pagination__page.is-active {
  background: orange;
  opacity: 1;
  width: 28px;
  border-radius: 100px;
  transform: none;
}

@media screen and (min-width: 768px) {
  .products-section,
  .splide {
    padding: 100px 33px;
  }

  .products-heading {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.045rem;
    margin-bottom: 50px;
  }

  .splide__slide__container {
    padding: 32px 20px 32px 20px;
  }
}

@media screen and (min-width: 1200px) {
  .products-section,
  .splide {
    padding: 128px 33px;
  }
}
